.general-info-box {
	display: grid;
	grid-template-columns: 2fr 1fr;
	/* border: 1px solid black; */
	margin: 10px;
	padding: 10px;

}

.info-box h4 {
	font-size: 1.25rem;
}

.details {
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
}

.buttons-box {
	/* border: 1px solid blue; */
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	padding: 20px;
}

.buttons-box button {
	width: 100%;
	background: transparent;
	outline: none;
	border: 1px solid purple;
	border-radius: 5px;
	font-size: 1.10rem;

}

.details-box-util {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
	/* border: 1px solid black; */
}

h5 {
	border-bottom: 2px solid black;
	font-size: 1.125rem;
	margin-bottom: 10px;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 1.125rem;
}

.photo-box img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1000px;
	margin-right: 10px;
}

.preview-link {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 10px;
}