<div class="dashboard-container">
	<div class="header">
	
		<h2>Helpers</h2>
		<hr>
	
	</div>
	
	
	<div class="search-filter-bar">
	
		<div class="sort-filter-box">
			<!-- <button (click)="sortHelpers()">Sort</button> -->

			<select [(ngModel)]="sortBy" (change)="sortHelpers()">
				<option value="updatedAt">Update Time</option>
				<option value="fullName">Helper Names</option>
				<option value="empCode">Employee ID</option>
			</select>
			
			<select [(ngModel)]="filterByJob" (change)="onFilterChange()">
				<option value="all">All</option>
				<option [value]="typeOfService.Driver">Driver</option>
				<option [value]="typeOfService.Cook">Cook</option>
				<option [value]="typeOfService.Maid">Maid</option>
			</select>

			<button (click)="reverseList()">Sort in {{isAscending ? "Descending" : "Ascending"}}</button>
	
			<!-- <input type="number" placeholder="Page" (input)="filterHelpers()" [(ngModel)]="page" min="1">
			<input type="number" placeholder="Limit" (input)="filterHelpers()" [(ngModel)]="limit" min="1"> -->
			
			@if(helpers$ | async; as helpers) {
				<span>{{helpers.length}} helpers</span>
			}

	
		</div>
	
		<div class="add-helper-box">
			
			<button class="centre-all" (click)="downloadHelpers()"><mat-icon>download</mat-icon></button>
			<button class="centre-all" [routerLink]="['add-helper']"><mat-icon>add_box</mat-icon></button>
			
		</div>
	
	</div>
	
	<div class="scroll-box">
	
		
			
			<div class="main-box">

				<div class="helpers-list-box" (scroll)="onScroll($event)">

					<div class="filter-box">
						<input type="text" placeholder="Name, Employee Id, Phone" (input)="onSearchTextChange($event)" [(ngModel)]="searchText">
					</div>

					@for (helper of helpers$ | async; track helpers; let index = $index; let even = $even; let odd = $odd) {
						<app-helper-card [helper]="helper" (helperSelectEmit)="onHelperSelect($event)" [isSelectedHelper]="selectedHelper.empCode === helper.empCode"></app-helper-card>
					}
				</div>
		
				@if(selectedHelper) {
					<div class="helper-detailed-box">
						<app-helper-detailed-view [helper]="selectedHelper"></app-helper-detailed-view>
					</div>
				}
				
				@else {
					<div class="no-helpers-box">
						<h1>No helpers</h1>
					</div>
				}
					
			</div>
				
				
	
	</div>
</div>
