<div class="dashboard-container">
	<div class="header">
	
		<h2>Helpers</h2>
		<hr>
	
	</div>
	
	
	<div class="search-filter-bar">
	
		<div class="sort-filter-box">
			<!-- <button (click)="sortHelpers()">Sort</button> -->

			<select [(ngModel)]="sortBy" (change)="sortHelpers()">
				<option value="updateTime">Update Time</option>
				<option value="name">Helper Names</option>
				<option value="employeeId">Employee ID</option>
			</select>
			
			<select [(ngModel)]="filterByJob" (change)="onFilterChange()">
				<option value="all">All</option>
				<option value="Driver">Driver</option>
				<option value="Cook">Cook</option>
				<option value="Maid">Maid</option>
			</select>

			<button (click)="reverseList()">Sort in {{isAscending ? "Descending" : "Ascending"}}</button>
	
			<input type="text" placeholder="Name, Employee Id, Phone" (input)="filterHelpers()" [(ngModel)]="searchText">
			
			@if(filteredHelpers.length === helpers.length) {
				<span>{{filteredHelpers.length}} helpers</span>
			}
			@else {
				<span>{{filteredHelpers.length}}/{{helpers.length}} results</span>
			}
	
		</div>
	
		<div class="add-helper-box">
			
			<button (click)="downloadHelpers()">Download</button>
			<button [routerLink]="['add-helper']">Add Helper</button>
			
		</div>
	
	</div>
	
	<div class="scroll-box">
	
		<div class="main-box">
			<div class="helpers-list-box">
				@for (helper of filteredHelpers; track helpers; let index = $index; let even = $even; let odd = $odd) {
					<app-helper-card [helper]="helper" (helperSelectEmit)="onHelperSelect($event)" [isSelectedHelper]="selectedHelper.empCode === helper.empCode"></app-helper-card>
				}
			</div>
	
			<div class="helper-detailed-box">
				<app-helper-detailed-view [helper]="selectedHelper"></app-helper-detailed-view>
			</div>
	
		</div>
	
	</div>
</div>
